:root {
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
}
.vp-doc table {
    display: block;
	width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;
}

